body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 246, 250);
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}
h3
{
  font-family: 'Roboto Condensed', sans-serif;
}